@page "/books"
@using BookBrowser.Models
@using BookBrowser.Data
@inject BookListingService BookService

<PageTitle>Books</PageTitle>

<h1>Hot Books</h1>

@if (_books == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Publish Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in _books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Pubdate</td>
            </tr>
        }
        </tbody>
    </table>
    <div class="text-center">@_count books</div>
}

@code {
    private IEnumerable<Book>? _books;
    private int _count = 0;

    protected override async Task OnInitializedAsync()
    {
        (_count, _books) = await BookService.GetBooks();
    }
}
